:root{
    --columns: "";
    --rows: "";
}


.container{
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(var(--columns), 1fr);
    grid-template-rows: repeat(var(--rows), 1fr);
    height: 600px;
    width: 600px;
    padding: 70px;
    padding-bottom: 100px;
    border-radius: 25px;
    background-color: red;
}

.grids{
    justify-self: stretch;
    align-self: stretch;
    border: .5px solid black;
    background-color: white;
}

.buttons{
    text-align: center;
    display: block;
    margin: 0 auto;
    width: 100px;
    height: auto;
}

#hovered{
    background-color: black;
}

#cleared{
    background-color: white;
    color: white;
}